
Edunova01/pom.xml
Edunova01/target/classes/.netbeans_automatic_build
*.class
*.lst
Edunova01/target/test-classes/.netbeans_automatic_build
*.jar
*.properties
Edunova02/pom.xml
Edunova02/target/test-classes/.netbeans_automatic_build
Edunova02/target/classes/.netbeans_automatic_build
Edunova03/pom.xml
